[submodule "repo-main"]
	path = repo-main
	url = https://github.com/alarm-garage/alarm-garage.git
[submodule "repo-server"]
	path = repo-server
	url = https://github.com/alarm-garage/alarm-garage-server.git
[submodule "repo-remote"]
	path = repo-remote
	url = https://github.com/alarm-garage/alarm-garage-remote.git
